img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  background-color: #4f7db3;
  padding: 1vw;
  margin: 0 auto;
}

a:hover {
  color: darkred;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

footer {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1rem;
  padding-top: 1.5vw;
  font-style: italic;
}

p {
  font-family: "Poppins", sans-serif;
  color: white;
  padding-block: 1vw;
  line-height: 2.5rem;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

h4 {
  font-family: "Poppins", sans-serif;
  color: white;
}

/************************BURGER-MENU*****************************/
nav img {
  width: 100px;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding-bottom: 15px;
}

#menuknap {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
}

.hidden {
  transform: translateX(100%);
  opacity: 0;
}

#menu {
  list-style-type: none;
  transition: transform.3s;
  transform-origin: top left;
}

@media (min-width: 600px) {
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline-block;
  }

  nav {
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
  }

  #menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    font-size: 1.5rem;
  }
}

/************************FORSIDE******************************/

@font-face {
  font-family: quentin;
  src: url(fonts/quentin-webfont.woff2);
}

.logo {
  margin: 0 auto;
  border: white;
  border-style: solid;
  padding: 30px;
  background-image: url(billeder/photo-1439792675105-701e6a4ab6f0.jfif);
}

@media (min-width: 800px) {
  .logo {
    background-image: url(billeder/photo-1439792675105-701e6a4ab6f0.jfif);
    border: white;
    border-style: solid;
  }
}

.logo_1 {
  margin: 0 auto;
  text-align: center;
  font-family: quentin;
  color: white;
  font-size: 110px;
}

.logo_2 {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
}

/**************************OM MIG***************************/

#container {
  padding: 1.5vw;
  gap: 10px;
}

#first_section img {
  border-radius: 50%;
}

@media (min-width: 900px) {
  #first_section {
    display: flex;
    justify-content: center;
  }
  #om_mig {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-bottom: 5vw;
  }

  #second_section {
    display: flex;
    justify-content: center;
  }

  #artworks {
    max-width: 900px;
  }
  .artwork_images {
    display: flex;
    gap: 20px;
    width: 200px;
  }
}

/*********************PORTFOLIE**************************/

#portfolie {
  max-width: 1000px;
  padding: 1vw;
  gap: 40px;
  display: grid;
}

#portfolie img {
  border-radius: 3%;
}

.middle {
  font-size: 2rem;
  transition: 0.5s ease;
  opacity: 0;
  display: flex;
  justify-content: center;
  transform: translateY(-350%);
}

.img_1:hover .image {
  opacity: 0.3;
}

.img_1:hover .middle {
  opacity: 1;
}

@media (min-width: 800px) {
  #portfolie {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-content: center;
    gap: 80px;
    padding: 0;
  }
}

/***********************TEMA SECTION**************************/
#tema_section {
  display: flex;
  justify-content: center;
}

#om_mig {
  max-width: 900px;
}

#temaer {
  align-items: center;
  max-width: 900px;
  display: grid;
  line-height: 1.8rem;
}

.knap {
  display: flex;
  justify-content: center;
  padding: 2vw;
}

#link_knap {
  background-color: rgb(68, 68, 173);
  display: flex;
  padding: 1vw;
  border: none;
}

.tilbage {
  padding-top: 4vw;
  text-decoration: underline;
  color: white;
}
