img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  background-color: #6696cd;
  margin: 0 auto;
}

a:hover {
  color: darkred;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

@font-face {
  font-family: quentin;
  src: url(fonts/quentin-webfont.woff2);
}

.logo {
  margin: 0 auto;
  padding: 30px;
}

@media (min-width: 800px) {
  .logo {
    max-width: 800px;
    border: white;
    border-style: solid;
  }
}

.logo_1 {
  margin: 0 auto;
  text-align: center;
  font-family: quentin;
  color: white;
  font-size: 110px;
}

.logo_2 {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
}

/*************************************************BURGER-MENU***********************************************************************/
nav img {
  width: 100px;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 1rem;
  padding-bottom: 50px;
}

#menuknap {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
}

.hidden {
  transform: translateX(100%);
  opacity: 0;
}

#menu {
  list-style-type: none;
  transition: transform.3s;
  transform-origin: top left;
}

@media (min-width: 600px) {
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline-block;
  }

  nav {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
  }

  #menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    font-size: 1.5rem;
  }
}
