img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  background: black;
  padding: 1vw;
  margin: 0 auto;
}

a:hover {
  color: firebrick;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

footer {
  display: none;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1rem;
  padding-top: 1.5vw;
  font-style: italic;
}

p {
  font-family: "Poppins", sans-serif;
  color: white;
  padding-block: 1vw;
  line-height: 2.5rem;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

h4 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1rem;
}

/************************BURGER-MENU*****************************/
nav img {
  width: 100px;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding-bottom: 15px;
}

#menuknap {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
  z-index: 1;
}

.hidden {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 600px) {
  #menu {
    padding: 1vw;
    padding-right: 25vw;
    background-color: rgba(178, 34, 34, 0.473);
    position: relative;
    left: 25vw;
    list-style-type: none;
    transition: transform.3s;
    transform-origin: top left;
  }

  .hidden {
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
  }
}

@media (min-width: 600px) {
  #menuknap {
    display: none;
  }

  nav img {
    width: 150px;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }

  #menu li {
    display: inline-block;
  }

  nav {
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
  }

  #menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    font-size: 1.5rem;
  }
}

/************************FORSIDE******************************/

@font-face {
  font-family: quentin;
  src: url(fonts/quentin-webfont.woff2);
}

.logo {
  max-width: none;
  margin: 0 auto;
  padding-bottom: 20px;
  background-image: url(billeder/ny_splash_2.jpg);
  object-fit: scale-down;
}
.logo_1 {
  text-align: center;
  font-family: quentin;
  color: white;
  font-size: 6.5rem;
}

.logo_2 {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
}

@media (max-width: 400px) {
  .logo_1 {
    max-width: 350px;
    font-size: 60px;
  }

  .logo_2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 400px;
  }
}

/**************************OM MIG***************************/

#container {
  padding: 1.5vw;
  gap: 10px;
}

#first_section img {
  margin-top: 2vw;
  border: white;
  border-style: solid;
  border-radius: 50%;
}

@media (min-width: 900px) {
  #first_section {
    display: flex;
    justify-content: center;
  }
  #om_mig {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-bottom: 5vw;
  }

  #second_section {
    display: flex;
    justify-content: center;
  }

  #artworks {
    max-width: 900px;
  }
  .artwork_images {
    display: flex;
    gap: 35px;
  }
}

/*********************PORTFOLIE**************************/

#portfolie {
  display: grid;
}

#portfolie img {
  border-radius: 3%;
}

.se_mere {
  font-size: 2rem;
  transition: 0.5s ease;
  opacity: 0;
  display: flex;
  justify-content: center;
  transform: translateY(-350%);
}

.img_1:hover .image {
  opacity: 0.1;
}

.img_1:hover .se_mere {
  opacity: 1;
  color: firebrick;
}

@media (min-width: 800px) {
  #portfolie {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    place-content: center;
    gap: 20px;
    padding: 0;
  }

  .se_mere {
    transform: translateY(-250%);
  }

  #portfolie img {
    width: 20vw;
  }
}

/***********************TEMA SECTION**************************/
#tema_section {
  display: flex;
  justify-content: center;
}

#om_mig {
  max-width: 900px;
}

#temaer {
  align-items: center;
  max-width: 900px;
  display: grid;
  line-height: 1.8rem;
}

.knap {
  display: flex;
  justify-content: center;
  margin: 30px;
}

#link_knap {
  justify-content: center;
  background-color: black;
  display: flex;
  padding: 1vw;
  border: white;
  border-style: solid;
}

.tilbage {
  padding-top: 4vw;
  text-decoration: underline;
  color: white;
}
